//Compass
@import "compass/css3";
@import "compass/utilities";
@import "compass/typography";

//Normalize
@import "normalize";

//Layout grid.
@import "susy";

//Spacing
@import "base/spacing";
@import "base/variables";
@import "base/mixins";
@import "base/grid";

@import "modules/common";
@import "modules/header";
@import "modules/footer";

//Personal Center.
@import "pages/profile";

.favorite{
	&__img{

	}

	&__toobar{
		@include inline-block();
		width: 100%;
		margin: 0px;
		height: 42px;
		line-height: 42px;
		position: relative;

		>.tag--price{
			padding:0px;
		}

		>.btn-detail{
			position : absolute;
			right: 0px;
			top: 50%;
			margin-top: -13px;
		}
	}
}

.btn-detail{
	@include btn($bg-hover-color : #f94b4b);
	@include link($link-color : #fff);

	padding:5px 10px;
	font-size:85%;
	background-color : #f94b4b;
}

.pagination{
	@include pagination();
}

.thumbnail{
	position: relative;

	&__img{
		width: 100%;
		height: 100%;
	}

	&__name{
		@include inline-block();
		@include opacity(0.7);
		color: #fff;
		width: 100%;
		margin: 0px;
		background-color: #333;
		line-height: 1.5;

		position: absolute;
		left: 0px;
		bottom:3px;
	}
}