//Compass
@import "compass/css3";
@import "compass/utilities";
@import "compass/typography";

//Normalize
@import "normalize";

//Layout grid.
@import "susy";

//Spacing
@import "base/spacing";
@import "base/variables";
@import "base/mixins";
@import "base/grid";

@import "modules/common";
@import "modules/header";
@import "modules/footer";

//Personal Center.
@import "pages/profile";

.btn{
	&--login{
		@include inline-block();
		@include border-radius(4px);
		border:1px solid #fff;
		background-color:#f64d50;
		color:#fff;
		width: 170px;
		line-height: 28px;
	}
}