.footer{
	border-top:1px dashed #dfdfdf;
	margin-top:30px;
}

.link-friendly{
	@include simple-link();
}

.link-us{
	@include simple-link($link-color : #3a84ac);
}

.copyright,
.copyright--login
{
	line-height:40px;
	width:100%;
	text-align:center;
	color:#666;
}

.copyright{
	background-color:#373636;

	&--login{
		background-color:none;
	}
}